.top-invoice {
    gap: auto;
}

.name-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.name-address input {
    width: 200px;
}

.bill-to {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.bill-to input {
 width: 200px;
}

.bill-to p {
    margin: 20px 0px 0px;
}

.invoice-number {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}


.number-input {
    width: 60px;
}

.invoice-table {
    margin: 50px 0px 7px;
    border: 1px solid black;
    width: auto;
}

th {
    border: 1px solid grey;
}

.bank-details {
    display: flex;
    flex-direction: column;
    width: 300px;
}



